/*variables */


/* colour palette inspiration volcanic https://colorpalettes.net/color-palette-785/ */

:root {
    --borders-color: black;
    --clears-color: #fe8502;
    --backgrounds-color: #1a451a;
    --buttons-color: #017cc2;
    --displays-color: #efebe2;
    --op-color: #52836e;
}


/*main styles*/

html,
body {
    height: 100%;
    font-family: "Courier New", Courier, monospace;
    color: var(--borders-color);
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {}

.calculator {
    display: flex;
    justify-content: top;
    background-color: var(--backgrounds-color);
    flex-direction: column;
    border: solid var(--borders-color);
    border-radius: 25px;
}

.display {
    background-color: var(--displays-color);
    border-radius: 5px;
    height: 100%;
    margin: 0.25em;
    text-align: right;
    font-size: 3em;
    border: solid var(--borders-color);
}

.buttons {
    width: 20em;
    height: 100%;
    margin: 0.5em 0.25em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttons button {
    border-radius: 5px;
    background-color: var(--buttons-color);
    width: 5em;
    height: 5em;
    margin: 0.35em 0.35em;
}

button.digit {
    background-color: var(--buttons-color);
}

button.clear {
    background-color: var(--clears-color);
}

button.op {
    background-color: var(--op-color);
}

button.equals {
    background-color: var(--op-color);
}